:root {
    --div-background-color: #00B5E2;
    --p-color: #657790;
    --text-color: white;
    --icon-color: #F0899C;
    --header-color: black;
    --chard-icon: white;
    --read-more-color: #00B5E2;
    --follow-color: #657790;


}

* {
    font-family: Inter, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.frame {
    display: none;
}

.header-center {
    display: flex;
    width: 580px;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--p-color);
}

.header-center span:hover {
    cursor: pointer;
    color: black;

}

.header-button {
    width: 110px;
    border: none;
    height: 44px;
    background: var(--icon-color);
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;

}

.content {
    padding-left: 25px;
}


.content-text {
    font-size: 48px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -2px;
    text-align: left;
}

.albert-img {
    margin: 5px;
}

.text {
    color: var(--p-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.button {
    background: var(--div-background-color);
    color: var(--text-color);
    border: none;
    width: 130px;
    height: 56px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.Ellipse {
    display: flex;
}

.elipse-text {
    padding-left: 20px;
}

.span-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.span-text2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: var(--p-color);
}

.OurService {
    margin-top: 100px;
}

.service-header {
    display: block;
    color: var(--icon-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.service-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -2px;
    text-align: center;
}

.icon-main {
    padding: 40px;
    box-shadow: 0 4px 64px 0 #23286914;
    margin-top: 15px;

}
.solu-icon-size{
    box-shadow: 0 4px 64px 0 #23286914;
    display: flex;
    margin: 5% 3%;
    justify-content: center;

}
.solu-icon-main {
    padding: 40px;
    margin-top: 15px;

}
.line{
    margin-top: 35px;
    margin-bottom: 35px;
    border: 1.08px solid #E5EAF1
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background: var(--icon-color);
}

.icon-box {
    width: 48px;
    height: 48px;
}

.icon i {
    padding-top: 8px;
    font-size: 35px;
}

.icon-box i {
    padding-top: 8px;
    font-size: 35px;
}

.icon-text {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -1px;
}

.read-more {
    display: flex;
    color: var(--read-more-color);
}

.read-more-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.read-more-icon {
    margin-left: 10px;
    font-size: 24px;
}

.OurWorks {
    position: relative;
    margin-top: 150px;
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
}

.Our-image {
    margin-top: 100px;
    width: 855px;
    height: 505px;

}

.play-bg {
    position: absolute;
    top: 55%;
    width: 55px;
    height: 55px;
    right: 47%;
    background: #FFFFFFB2;
    border-radius: 70%;
}

.play {
    position: absolute;
    top: 45%;
    right: 45%;
}


.team {
    padding: 120px 40px;
}

.team-text {
    color: #F0899C;

}

.creative-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -2px;
}

.slider {
    display: flex;
    overflow-y: auto;

}

.OurProjects {
    margin-top: 100px;
    padding: 2px 50px;
}

.OurSolutions {
    margin-top: 50px;
}

.icon-radio {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    background: #f0ccd2;
}

.icon-radio i {
    font-size: 28px;
    margin-top: 10px;
}

.Nike img {
    width: 100%;
}

.pricing {
    margin-top: 100px;
    padding: 20px 55px;
}

.business {
    display: flex;
    justify-content: center;
    width: 100%;

}

.business-bg {
    box-shadow: 0 4px 64px 0 #23286914;
    width: 318px;
    height: 476px;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
    background: #F0899C;
    text-align: center;
}

.text1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.30000001192092896px;
    color: var(--text-color);
}

.text2 {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

.text3 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--text-color);

}

.text-3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.text4 {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

.text5 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

.text6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-color);
}

.text7 {
    margin-top: 50px;
    width: 199px;
    height: 56px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    background: var(--text-color);
}

.corporate {
    width: 100%;
    display: flex;
    justify-content: center;
}

.corporate-bg {
    box-shadow: 0 4px 64px 0 #23286914;
    width: 318px;
    height: 476px;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    text-align: center;

    .text1 {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.30000001192092896px;
        color: var(--header-color);
    }

    .text2 {
        margin-top: 6px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--p-color);
    }

    .text3 {
        margin-top: 20px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: var(--header-color);

    }

    .text-3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

    }

    .text4 {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--p-color);
    }

    .text5 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--p-color);
    }

    .text6 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: var(--p-color);
    }

    .text7 {
        margin-top: 50px;
        width: 199px;
        height: 56px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        background: var(--read-more-color);
        color: var(--text-color);
    }
}

.testimonials {
    margin-top: 100px;
    text-align: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging .box {
    cursor: grab;
    user-select: none;
}

.carousel :where(.box, .img) {
    display: flex;
    cursor: pointer;
    padding-right: 10px;
}

/**/
.carousel2 {
    display: flex;
    overflow-x: auto;
    background: white;
}

.carousel2::-webkit-scrollbar {
    display: none;
}

.carousel2.dragging2 .user {
    cursor: grab;
    user-select: none;
}

.carousel2 :where(.user, .img2) {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 10px;
}

/**/
.carousel3 {
    display: flex;
    overflow-x: auto;
    background: white;
}

.carousel3::-webkit-scrollbar {
    display: none;
}

.carousel3.dragging3 .user {
    cursor: grab;
    user-select: none;
}

.carousel3 :where(.user, .img2) {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 10px;
}

.user {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #23286914;
    border-radius: 80px;

}

.img2 {
    width: 406px;
    height: 80px;
    display: flex;
    border-radius: 80px;
    background: #FFFFFF;


}

.clients {
    margin-left: 20px;
    width: 52px;
    height: 52px;
}

.clients-text {
    margin-left: 8px;
    text-align: left;
    margin-right: 5px;
    color: var(--p-color);
}

.common {
    padding-top: 100px;
    padding-left: 55px;
    margin-top: 100px;
}

.common-img {
    display: flex;
    margin-left: 15%;
    overflow: hidden;
}

.collapse-main {
    display: flex;
    margin-top: 40px;
}

.lapse i {
    font-size: 25px;
}

.lapse-text {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;

}

.card-boby {
    padding: 10px;
    color: var(--p-color);
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contact-bg {
    padding: 50px 35px;
    width: 344px;
    height: 100%;
    border-radius: 30px;
    background: #00B5E2;
}

.contact-img {
    margin: 20px 60px;
    position: relative;
    width: 100%;
    height: 467px;
    border-radius: 32px;
    background: #00B5E2;
}

.contact-images img {
    display: block;
    position: absolute;
    bottom: 0;
}

.contact-text {
    position: absolute;
    width: 566px;
    right: 8%;
    top: 110px;
    text-align: center;
}

.contact-small {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text-color);
}

.contact-p {
    font-size: 48px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -2px;
    color: var(--text-color);

}

.contact-lorem2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
}

.contact-button2 {
    width: 130px;
    height: 56px;
    background: var(--icon-color);
    color: var(--text-color);
    border: none;
}


.contact-header-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: var(--text-color);

}

.contact-h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -2px;
    color: var(--text-color);
    text-align: center;

}

.contact-lorem {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    text-align: center;

}

.contact-button {
    display: flex;
    justify-content: center;


}

.button-box {
    width: 130px;
    height: 56px;
    text-align: center;
    border: none;
    background: #F0899C;
    color: var(--text-color);
    margin-top: 20px;
}

.footer {
    margin-top: 100px;
    padding: 30px 60px;
}

.footer-text {
    color: var(--p-color);
}

.footer-text2 {
    padding: 30px 20px;
    justify-content: space-between;
    display: flex;

}

.footer-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--header-color);

}

.footer-span {
    margin-top: 15px;
    color: var(--p-color);
}

.subscribe-header {
    color: var(--header-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.subscribe-lorem {
    color: var(--p-color);

}

.subscribe-search {
    display: flex;

}

.input-search {
    position: relative;
}

.input-search input {
    outline: none;
    width: 350px;
    color: var(--p-color);
    height: 50px;

}


.follow {
    display: flex;
    margin-top: 60px;

}

.follow i {
    margin-left: 35px;
}

.footer-c {
    margin-top: 50px;
}

.icon-size {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 992px) {
    .OurProjects{
        padding: 20px 10px;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }

    .frame {
        display: block;
    }

    .content {
        padding: 20px 1px;
    }

    .header-center {
        display: none;
    }

    .header-button {
        display: none;
    }

    .albert {
        display: none
    }

    .image {
    }

    .Our-image {
        width: 600px;
        height: 350px;
    }

    .team {
        padding: 120px 5px;
    }

    .pricing {
        padding: 100px 15px;
    }

    .common {
        display: flex;
        justify-content: center;
        padding: 100px 1px;
    }

    .footer {
        padding: 25px 21px;
    }

    .line {

    }

    .solutions-box {
        margin-top: 30px;
    }

    .icon-size {
        display: flex;
        justify-content: center;
    }

    .icon-main {
        width: 343px;
        height: auto;
        padding: 20px 5px 20px 20px;
        box-shadow: 0 4px 64px 0 #23286914;

    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        background: var(--icon-color);
    }

    .icon-box {
        width: 48px;
        height: 48px;
    }

    .icon i {
        padding-top: 8px;
        font-size: 25px;
    }

    .icon-box i {
        padding-top: 8px;
        font-size: 35px;
    }

    .icon-text {
        margin-top: 25px;
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: -1px;
    }

    .footer-text2 {
        padding: 30px 1px;
        justify-content: space-between;
        display: flex;

    }
}

@media screen and (max-width: 600px) {
    .image {
        width: 100%;
    }

    .Our-image {
        width: 344px;
        height: 203.18px;
        overflow: hidden;
    }

}

@media screen and (max-width: 374px) {

    .Our-image {
        width: 250px;
        height: 180px;
        overflow: hidden;
    }

    .play-bg {
        position: absolute;
        top: 55%;
        width: 55px;
        height: 55px;
        right: 40%;
        background: #FFFFFFB2;
        border-radius: 70%;
    }



}
@media screen and (max-width: 404px){
    .subscribe-search{
        display: block;
    }
    .input-search input {
        outline: none;
        width: 100%;
        color: var(--p-color);
        height: 50px;

    }

    .footer-button {
        position: absolute;
        width: 118px;
        padding: 14px 23px;
        background: var(--icon-color);
        height: 50px;
        color: var(--text-color);
        bottom: -17px;
        right: -10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        margin-right: 5px;
    }
    .footer{
        padding: 20px 1px;
    }
    .pricing{
        padding: 20px 1px;
    }

}