:root {
    --div-background-color: #00B5E2;
    --p-color: #657790;
    --text-color: white;
    --icon-color: #F0899C;
    --header-color: black;
    --chard-icon: white;
    --read-more-color: #00B5E2;
    --follow-color: #657790;
    --icon-background:#F0899C1A;

}

* {
    font-family: Inter, sans-serif;
}
.background-color{
    height: 396px;
    background: #F8FBFF;
}
.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
}


.frame {
    display: none;
}

.header-center {
    display: flex;
    width: 580px;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--p-color);
}

.header-center span:hover {
    color: black;

}

.header-button {
    width: 110px;
    border: none;
    height: 44px;
    background: var(--icon-color);
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;

}

.header-text{
    font-size: 48px;
    font-weight: 600;
    line-height: 66px;
    color: #0F172A;

}

.link a {
    color: var(--p-color);

}

.link a:hover {
    color: black;
}

.Contactme {
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px 50px;
    box-shadow: 0 4px 64px 0 #23286914;

}
@media screen and (max-width: 1115px){
    .Contactme{
        margin: 0;
    }

}
.text{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.h5{
    color: var(--icon-color);
}
.contact-team{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -2px;
    text-align: left;
}
.icon-main{
    display: flex;
    align-items: center;
}
.icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: var(--icon-background);
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: var(--icon-background);
}
.mail input{
    width: 100%;
    height:47px;
    outline: none;
    padding-left: 15px;
    margin-top: 30px;
    border: 1px solid #EDEDED
}
.text-main input{
    width: 100%;
    height: 140px;

}
.lg-text{
    display: flex;
}
.button{
    width: 201px;
    height: 56px;
    border-radius: 5px;
    color: #FFFFFF;
    background:var(--div-background-color);
    border: none;
    margin-bottom: 20px;

}

.footer {
    margin-top: 100px;
    padding: 30px 60px;
}

.footer-text {
    color: var(--p-color);
}

.footer-text2 {
    padding: 30px 20px;
    justify-content: space-between;
    display: flex;

}

.footer-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--header-color);

}

.footer-span {
    margin-top: 15px;
    color: var(--p-color);
}

.subscribe{
    padding: 25px 1px;
}

.footer-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--header-color);

}

.footer-span {
    margin-top: 15px;
    color: var(--p-color);
}

.subscribe-header {
    color: var(--header-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.subscribe-lorem {
    color: var(--p-color);

}

.subscribe-search {
    display: flex;

}

.subscribe-header {
    color: var(--header-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.subscribe-lorem {
    color: var(--p-color);

}

.subscribe-search {
    display: flex;

}

.input-search {
    position: relative;
}

.input-search input {
    outline: none;
    width: 350px;
    color: var(--p-color);
    height: 50px;

}

.footer-button {
    position: absolute;
    width: 118px;
    padding: 14px 23px;
    background: var(--icon-color);
    height: 50px;
    color: var(--text-color);
    bottom: -17px;
    right: -10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.follow {
    display: flex;
    margin-top: 60px;

}

.follow i {
    margin-left: 35px;
}

.footer-c {
    margin-top: 50px;
}

.search input {
    outline: none;
    width: 306px;
    color: var(--p-color);
    padding-left: 5px;
    height: 50px;
}

.subscribe-search button {
    margin-left: -50px;
    width: 118px;
    background: var(--icon-color);
    height: 50px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    border: none;
    left: 20px;
    top: 10px;
}

.follow {
    display: flex;
    margin-top: 60px;

}

.follow i {
    margin-left: 35px;
}

.footer-c {
    margin-top: 50px;
}


@media (max-width: 992px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .frame {
        display: block;
    }

    .header-center {
        display: none;
    }

    .header-button {
        display: none;
    }
    .footer{
        padding: 25px 20px;
    }
    .Contactme{
        padding: 20px 20px;
    }
    .footer {
        padding: 25px 21px;
    }


}

@media screen and (max-width: 450px){
    .text{
        width: 237px;
    }
    .subscribe-search{
        display: block;
    }
    .input-search input {
        outline: none;
        width: 100%;
        color: var(--p-color);
        height: 50px;

    }

    .footer-button {
        position: absolute;
        width: 118px;
        padding: 14px 23px;
        background: var(--icon-color);
        height: 50px;
        color: var(--text-color);
        bottom: -17px;
        right: -10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        margin-right: 5px;
    }
    .footer{
        padding: 20px 1px;
    }
    .footer-text2{
        padding: 20px 1px;
    }
    .Contactme{
        margin-left: 0;
        margin-right: 0;
        padding: 20px 20px;
    }

}

